/** Ultralight 
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"),
  	url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg");
}

* Thin 
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"),
  	url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg");
}

* Regular 
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.eot?#iefix) format("embedded-opentype"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff2) format("woff2"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff) format("woff"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.ttf) format("truetype"),
  	url("fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.svg#San Francisco Display Medium") format("svg");
}

* Medium 
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"),
  	url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg");
}

* Semi Bold 
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"),
  	url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg");
}

* Bold  
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"),
  	url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"),
  	url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg");
}*/


/* HELPER CLASS 
 * -------------------------- */

/* FA based classes */

/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */

/* makes the font 33% larger relative to the icon container */
.ico-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ico-2x {
  font-size: 2em;
}
.ico-3x {
  font-size: 3em;
}
.ico-4x {
  font-size: 4em;
}
.ico-5x {
  font-size: 5em;
}
.ico-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.ico-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.ico-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ico-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ico-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ico-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ico-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.ico-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.ico-stack-1x,
.ico-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.ico-stack-1x {
  line-height: inherit;
}
.ico-stack-2x {
  font-size: 2em;
}
.ico-inverse {
  color: #ffffff;
}



@font-face {
  font-family: 'streamline';
  src:  url('../fonts/streamline.eot');
  src:  url('../fonts/streamline.eot#iefix') format('embedded-opentype'),
    url('../fonts/streamline.woff2') format('woff2'),
    url('../fonts/streamline.ttf') format('truetype'),
    url('../fonts/streamline.woff') format('woff'),
    url('../fonts/streamline.svg#streamline') format('svg');
  font-weight: normal;
  font-style: normal;
}


i, [class^="ico-"], [class*=" ico-"] {
	display: inline-block;
	font-family: 'streamline' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	color: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: -2px;
}


.ico-facebook:before {
  content: "\e916";
}
.ico-instagram:before {
  content: "\e917";
}
.ico-paypal:before {
  content: "\e91c";
}
.ico-snapchat:before {
  content: "\e91d";
}
.ico-twitter:before {
  content: "\e918";
}
.ico-youtube:before {
  content: "\e919";
}
.ico-atomic-bomb:before {
  content: "\e900";
}
.ico-binoculars:before {
  content: "\e901";
}
.ico-link:before {
  content: "\e902";
}
.ico-check-1:before {
  content: "\e908";
}
.ico-alarm-clock:before {
  content: "\e905";
}
.ico-email-send:before {
  content: "\e912";
}
.ico-email:before {
  content: "\e91a";
}
.ico-envelope-2:before {
  content: "\e91e";
}
.ico-mouse:before {
  content: "\e906";
}
.ico-loading-2:before {
  content: "\e91f";
}
.ico-radioactive-2:before {
  content: "\e907";
}
.ico-synchronize-1:before {
  content: "\e920";
}
.ico-add:before {
  content: "\e913";
}
.ico-add-circle-1:before {
  content: "\e91b";
}
.ico-remove-1:before {
  content: "\e903";
}
.ico-remove-circle:before {
  content: "\e90b";
}
.ico-coupon-discount:before {
  content: "\e915";
}
.ico-new-sticker-circle:before {
  content: "\e90c";
}
.ico-new-sticker-square:before {
  content: "\e90d";
}
.ico-shopping-cart-4:before {
  content: "\e909";
}
.ico-truck-delivery-time:before {
  content: "\e90a";
}
.ico-arrow-right:before {
  content: "\e90e";
}
.ico-arrow-down:before {
  content: "\e904";
}
.ico-arrow-left:before {
  content: "\e90f";
}
.ico-arrow-right-2:before {
  content: "\e914";
}
.ico-arrow-right:before {
  content: "\e910";
}
.ico-arrow-up:before {
  content: "\e911";
}
.ico-plus:before {
  content: "\f067";
}
.ico-minus:before {
  content: "\f068";
}
.ico-check:before {
  content: "\f00c";
}
.ico-close:before {
  content: "\f00d";
}
.ico-remove:before {
  content: "\f00d";
}
.ico-times:before {
  content: "\f00d";
}
.ico-plus-circle:before {
  content: "\f055";
}
.ico-minus-circle:before {
  content: "\f056";
}
.ico-times-circle:before {
  content: "\f057";
}
.ico-heart-o:before {
  content: "\f08a";
}
.ico-envelope:before {
  content: "\f0e0";
}
.ico-comment-o:before {
  content: "\f0e5";
}
.ico-circle-o-notch:before {
  content: "\f1ce";
}
.ico-cc-visa:before {
  content: "\f1f0";
}
.ico-cc-mastercard:before {
  content: "\f1f1";
}
.ico-cc-discover:before {
  content: "\f1f2";
}
.ico-cc-amex:before {
  content: "\f1f3";
}
.ico-cc-paypal:before {
  content: "\f1f4";
}
.ico-cc-stripe:before {
  content: "\f1f5";
}
.ico-safari:before {
  content: "\f267";
}
.ico-chrome:before {
  content: "\f268";
}
.ico-firefox:before {
  content: "\f269";
}
.ico-opera:before {
  content: "\f26a";
}
.ico-internet-explorer:before {
  content: "\f26b";
}
